
header, footer {
  background: lightblue;
  text-align: center;
  padding: 15px;
}

footer {
  background: lightgray;
}

.container {
  display: flex;
}


.sidebar {
  background: #eea264;
  flex: 1;
  padding: 15px;
}


.main-content {
  background: #e9c46a;
  flex: 3;
  padding: 15px;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}
